.login-main{
    .login-error{
        color: red;
        margin-left: 221.1px;
    }
    .form-group{
        .email-input{
            margin-left:10px;
        }
        .password-input{
            margin-left:42px;
        }
        .phone-input{
            margin-left:63px;
        }
        
    }
    .btn-primary{
        margin-left: 393px;
    }
}