.signIn {
    .email {
        margin-left: 30px;
    }
    .fname {
        margin-left: 52px;
    }
    .lname{
        margin-left: 53px;
    }
    .phone {
        margin-left: 84px;
    }
    .address {
        margin-left: 70px;
    }
    .username {
        margin-left: 47px;
    }
    .password {
        margin-left: 57px;
    }
    .btn-primary {
        margin-left: 396px;
    }
}